body {
  background: #eee;
  font-family: sans-serif;
}

.card{
  width: 400px;
  background: #fff;
  margin: 0 auto;
  padding: 5px;
}

h1, div, button {
  border: 4px white solid;
  padding: 7px;
}

.title {
  background: #e3f4ff;
  margin: 0;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  margin: 0 auto;
  text-align: center;
}

button {
  background: white;
  display: block;
  margin: 0 auto;
}